@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #13141d 0%, #0c0d14 100%);
  color: #fff;
  position: relative;
  overflow-x: hidden;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #f5b400;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ddd;
  transition: 0.25s;
}

nav a:hover {
  color: #f5b400;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 70px;
}

.hero-text h1 {
  font-size: 65px;
  font-weight: 700;
}

.hero-text p {
  margin-top: 10px;
  font-size: 20px;
  color: #c6c6c6;
}

.btn {
  margin-top: 25px;
  display: inline-block;
  background: #f5b400;
  padding: 12px 26px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.btn:hover {
  letter-spacing: 1px;
}

.hero-img img {
  width: 350px;
  border-radius: 15px;
  transition: 0.4s ease;
}

.hero-img img:hover {
  transform: translateY(-6px);
}

/* SECTIONS */
section {
  padding: 90px 70px;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  background: #2c2e38;
  padding: 28px;
  border-radius: 12px;
  width: 33%;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #363845;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding: 80px;
  background: #111;
}

.stat h1 {
  font-size: 55px;
  color: #f5b400;
}

/* PROJECTS */
.grid {
  display: flex;
  gap: 25px;
}

.project {
  background: #30323d;
  padding: 40px;
  border-radius: 12px;
  width: 30%;
  transition: 0.3s;
  text-align: center;
}

.project:hover {
  transform: translateY(-8px);
  background: #3b3e4d;
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input, textarea {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  background: #2c2e38;
  border: none;
  color: #fff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 35px;
  background: #111;
}





body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: url("Acrylic\ Design.jpeg");
  background-size: cover;
  opacity: 0.12;
  z-index: -3;
  filter: blur(2px);
}
